/*
In case I would like all padding to be initialized to 0
    margin: 0;
    padding: 0;
*/

body {
  background-image: url("img/web-background.jpg");
  background-size: cover;
  background-position: top center;
  position: relative;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  text-align: center;
}

/* Header Section*/
#main-header {
  text-align: center;
}

h3 {
  color: rgb(255, 255, 255);
  font-size: 25px;
  padding: 20px;
}

p2 {
  color: black;
  font-size: 16px;
  /* Spacing the lines*/
  line-height: 1.6em;
}

p1 {
  font-size: 32px;
}

.wrapper {
  width: 100%;
  margin: auto; /*Space for the header*/
  background-color: black;
  /*Getting rid of the bullet-points*/
  list-style: none;
  padding-bottom: 1.5%;
}
.wrapper :hover {
  opacity: 0.8;
}
/*printing the tags inline*/
.wrapper li {
  display: inline;
}
/*changing the color of the links*/
.wrapper a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding-right: 20px;
}

#main-header {
  background-color: coral;
}
/* End Header Section*/

/* About section*/
#about .section-title {
  font-size: 3rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
#about .section-title span {
  color: coral;
}

#about .about {
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

#about .col-left {
  margin-top: 50px;
  margin-bottom: 100px;
}

#about .col-left .about-img img {
  position: relative;
  border-radius: 90%; /* can change it to 25% also*/
  border: 10px solid black;
  margin-bottom: 20px;
}

#about .col-left .about-img img:hover {
  border: 10px solid white;
}

#about .col-right {
  width: 100%;
}

#about .col-right h2 {
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}

#about .col-right p {
  margin-bottom: 20px;
  font-size: 1.25rem;
  color: coral;
}

#about .role span {
  color: coral;
}

#about .col-right a {
  display: inline-block;
  color: rgb(255, 255, 255);
  background-color: transparent;
  margin-bottom: 30px;
  border-radius: 10%;
  border: 4px solid coral;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1 rem;
  margin-top: 100px;
  margin-bottom: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
  padding: 10px 30px;
}
#about .col-right a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  border: 4px solid coral;
}
/* End About section */

/* Courses Section*/
#courses {
}

#courses .courses {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}
#courses .section-title {
  font-size: 3rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
#courses .section-title span {
  color: coral;
}
#courses .courses-top p {
  font-size: 1.5rem;
  margin-top: 20px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}
#courses .courses-top span {
  color: coral;
}

#courses .courses-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#courses .courses-item1 {
  flex-basis: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-image: url("img/cs.jpg");
  background-size: cover;
  margin: 10px 5%;
}
#courses .courses-item2 {
  flex-basis: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-image: url("img/math.jpg");
  background-size: cover;
  margin: 10px 5%;
}
#courses .courses-item3 {
  flex-basis: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-image: url("img/science.jpg");
  background-size: cover;
  margin: 10px 5%;
}

/* End Courses Section*/

/* Footer Section*/
.main-footer {
  background: black;
  text-align: center;
  color: #fff;
  padding: 5px;
}
.social {
  flex-direction: column-reverse;
  text-align: center;
  font-size: 1.5rem;
}
.social span {
  color: coral;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: rgb(232, 92, 70);
  color: white;
}

/*@media(max-width: 600px){
    *{
        width: 100%;
        float: none;
    }
}*/

/* End Footer Section*/
