/*
In case I would like all padding to be initialized to 0
    margin: 0;
    padding: 0;
*/
html {
  scroll-behavior: smooth;
}

body {
  background-image: url("img/web-background.jpg");
  background-size: cover;
  background-position: top center;
  position: relative;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  text-align: center;
}
.gotopbtn {
  position: fixed;
  width: 50px;
  height: 50px;
  background: coral;
  bottom: 50px;
  right: 50px;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  line-height: 53px;
  color: rgb(0, 0, 0);
  font-size: 30px;
}
/* Welcome Section */
#welcome {
  position: relative;
  text-align: left;
}
#welcome .welcome {
  max-width: 1200px;
  margin-top: 100px;
  padding: 0px 50px;
  justify-content: flex-start;
}
#welcome h1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
  display: block;
  width: fit-content;
  font-size: 3rem;
  position: relative;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1.5s;
}
#welcome h1:nth-child(1) {
  animation-delay: 1.5s;
}
#welcome h1:nth-child(2) {
  animation-delay: 3.5s;
}
#welcome h1:nth-child(3) {
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 4.5s;
}
#welcome h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: coral;
  animation: text_reveal_box 1s ease;
  animation-delay: 1s;
}
#welcome h1:nth-child(1) span {
  animation-delay: 1s;
}
#welcome h1:nth-child(2) span {
  animation-delay: 3s;
}
#welcome h1:nth-child(3) span {
  animation-delay: 4s;
}
/* End Welcome Section */

/* Header Section*/
#main-header {
  text-align: center;
}
h3 {
  color: rgb(255, 255, 255);
  font-size: 25px;
  padding: 20px;
}
p2 {
  color: black;
  font-size: 16px;
  /* Spacing the lines*/
  line-height: 1.6em;
}
p1 {
  font-size: 32px;
}
.wrapper {
  width: 100%;
  margin: auto; /*Space for the header*/
  background-color: black;
  /*Getting rid of the bullet-points*/
  list-style: none;
  padding-bottom: 1.5%;
}
.wrapper :hover {
  opacity: 0.8;
}
/*printing the tags inline*/
.wrapper li {
  display: inline;
}
/*changing the color of the links*/
.wrapper a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding-right: 20px;
}
#main-header {
  background-color: coral;
}
/* End Header Section*/

/* About section*/
#about .section-title {
  font-size: 3rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
#about .section-title span {
  color: coral;
}
#about .about {
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
}
#about .col-left {
  margin-top: 50px;
  margin-bottom: 100px;
}
#about .col-left .about-img img {
  position: relative;
  border-radius: 90%; /* can change it to 25% also*/
  border: 10px solid black;
  margin-bottom: 20px;
}
#about .col-left .about-img img:hover {
  border: 10px solid white;
}
#about .col-right {
  width: 100%;
}
#about .col-right h2 {
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}
#about .col-right p {
  margin-bottom: 20px;
  font-size: 1.25rem;
  color: rgb(0, 0, 0);
}
#about .role {
  margin-top: 50px;
}
#about .role span {
  color: rgb(255, 255, 255);
}
#about .col-right a {
  text-decoration: none;
  display: inline-block;
  color: rgb(255, 255, 255);
  background-color: coral;
  margin-bottom: 30px;
  border-radius: 10%;
  border: 6px solid rgb(0, 0, 0);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1 rem;
  margin-top: 100px;
  margin-bottom: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
  padding: 10px 30px;
}
#about .col-right a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  border: 6px solid coral;
}
/* End About section */

/* Courses Section*/
#courses .courses {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}
#courses .section-title {
  font-size: 3rem;
  font-weight: 300;
  color: black;
  margin-bottom: 100px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
#courses .section-title span {
  color: coral;
}
#courses .courses-top h1 {
  color: rgb(0, 0, 0);
}
#courses .courses-top p {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 80px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}
#courses .courses-top span {
  color: coral;
}

#courses .course-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
}
#courses .courses-item ul {
  list-style-type: none;
  margin-bottom: 80px;
}
#courses .courses-item li {
  font-size: 1.1rem;
}
#courses .courses-item {
  flex-basis: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 50px;
  background-image: url("img/course.jpg");
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  margin-bottom: 80px;
  border: 10px solid black;
}
#courses .courses-item h2 {
  margin-top: 70px;
  color: rgb(255, 255, 255);
  font-weight: 1000;
  font-size: 2rem;
}
#courses .courses-item:hover {
  border: 10px solid white;
}
#courses .courses-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, 485563 100%);
  opacity: 0.8;
  z-index: -1;
}
/* End Courses Section*/

/* Footer Section*/
#footer .footer {
  background: black;
  text-align: center;
  color: #fff;
  padding: 5px;
}
#footer .social {
  flex-direction: column-reverse;
  text-align: center;
  font-size: 1.5rem;
}
#footer .social span {
  color: coral;
}
#footer .fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
#footer .fa:hover {
  opacity: 0.7;
}
#footer .fa-facebook {
  background: #3b5998;
  color: white;
}
#footer .fa-twitter {
  background: #55acee;
  color: white;
}
#footer .fa-linkedin {
  background: #007bb5;
  color: white;
}
#footer .fa-instagram {
  background: rgb(232, 92, 70);
  color: white;
}
#footer .copyright {
  margin-top: 40px;
  margin-bottom: 100px;
  font-weight: 500;
  font-size: 0.6rem;
}
/* End Footer Section*/

/* Keyframes */
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0%;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text_reveal {
  100% {
    color: coral;
  }
}
@keyframes text_reveal_name {
  100% {
    color: rgb(0, 0, 0);
    font-weight: 500;
  }
}
/* End Keyframes */
